<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/build.css" />
    <title>Homepage</title>
  </head>
  <body
    class="h-screen flex flex-col text-white bg-emerald-900 justify-start items-center"
  >
    <div class="justify-center">
      <h1 class="text-3xl">Messages</h1>
      <section class="">
        <% messages.forEach((message) => { %> <%-
        include('partials/message.ejs', { message: message }) %> <% }); %>
      </section>
    </div>
  </body>
</html>
