<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join The Club!</title>
    <link rel="stylesheet" href="/styles/build.css" />
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <form
      action="/members-only"
      method="GET"
      class="bg-white p-8 rounded-lg shadow-lg max-w-xs w-full flex flex-col gap-2"
    >
      <h1 class="text-4xl font-bold text-gray-800 mb-4 text-center">
        Do YOU know the secret?
      </h1>
      <div class="flex flex-col">
        <label for="secretCode" class="font-medium">Secret :333333</label>
        <input
          type="password"
          name="secretCode"
          id="secretCode"
          class="border-1 rounded-md px-2 py-1"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition-colors hover:cursor-pointer mt-2"
      >
        Login
      </button>
    </form>
  </body>
</html>
