<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join The Club!</title>
    <link rel="stylesheet" href="/styles/build.css" />
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4 text-center">
      HELLO MEMBER!!
    </h1>
  </body>
</html>
