<section class="w-3xs md:w-sm text-white flex flex-col gap-2">
  <p>
    <%= message.username %>
    <span class="text-xs text-zinc-500">
      <%= message.message_date %>
    </span>
  </p>
  <p class="rounded-b-lg rounded-tr-lg bg-zinc-700 p-5 w-fit h-fit">
    <%= message.title %>
  </p>
  <p class="rounded-b-lg rounded-tr-lg bg-zinc-700 p-5 w-fit h-fit">
    <%= message.message %>
  </p>
</div>
