<section class="md:w-fit text-white flex flex-col mt-5 max-w-[300px]">
  <p>
    <%= message.username %>
    <span class="text-xs text-zinc-500"> <%= message.message_date %> </span>
  </p>
  <div class="rounded-b-lg rounded-tr-lg bg-zinc-700 p-5 w-full h-full">
    <% if (userIsAuthenticated) { %>
    <p><%= message.title %></p>
    <p><%= message.message %></p>
    <% } else { %>
    <p>SECRET :33333 YOU'RE NOT ALLOWED TO SEE IT TEE HEE HEE</p>
    <% } %>
  </div>
</section>
